.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ff950092;
  background-color: #ff950092;
}

.code {
  background-color: #000000;
  font-size: 120%;
  color: #ffffff;
  font-family: "Consolas", "Courier New", Courier, monospace;
}
