/* Here we can set styles for this lab page that we don't want to effect others pages */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #3ba4ef;
}
h1,h2,p {
  font-family: sans-serif;
  color: #ffffff;
}
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  color: #ffffff;
}
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #888;
}
.codes-photo {
  margin: 10px;
  max-width: 500px;
}
